*{
	margin: 0;
	padding: 0;
	font-family: 'Gochi Hand', cursive;
	box-sizing: border-box;
}
body{

	justify-content: center;
	background-image: url("images/beach.jpg");
	background-size: cover;
}

.bigContainer{
	width: 100%;
	max-width: 1200px;
	min-height: 500px;
	margin: 0 auto;
	height: 100vh;
	background-color: rgba(200,200,200,0.5);
	display: grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: 1fr;
	overflow: hidden;
}
nav{
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-content: center;

}
nav h1{
	font-size: 60px;
	line-height: 100px;
	color: white;
	text-shadow: 10px 10px 5px #888888;
}
nav p{
	line-height: 100px;
	margin-left: 30px;
}

aside{
	position: absolute;
	top: 20px;
	right: 0;
	width: 100%;
	max-width: 300px;
	height: 90%;
	background-color: rgba(255,255,255,0.3);
	text-align: center;
	padding: 20px;
	border-radius: 30px 0 0 30px;
	min-height: 400px;
	z-index: 3;
	transition-duration: 2s;
}
.sidebarSwitch{
	display: block;
	position: absolute;
	top: 40px;
	left: -30px;
	background-color: rgba(200,200,200,0.7);
	width: 30px;
	height: 100px;
	line-height: 100px;
	border-radius: 10px 0 0 10px;
  z-index: 3;
}
.sidebarSwitch::before{
	font-size: 30px;
	color: white;
	content: ">";
	transition-duration: 2s;
	display: block;
	transform:rotateZ(0deg);
}

.sidebarSwitch.change::before{
	content: ">";
	transform:rotateZ(180deg);
}

.closeAside{
	transform: translateX(90%);
}



aside>h3{
	font-size: 30px;
}
.recordList>div{
	font-size: 25px;
	line-height: 25px;
	padding: 10px;
}
#totalScore{
	border-top: solid 3px black;
	padding-top: 20px;
}

.container{
	position: relative;
	overflow: hidden;
}

main{
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
	
	
}
.gameContainer{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.nameBox{
	display: flex;
	/*flex-direction: row;*/
	justify-content: space-around;
}
.player1, .player2{
/*	min-width: 100px;*/
}
.game{
/*	height: 300px;
	width: 300px;*/
	width: 80vw;
	height: 80vw;
	max-width: 60vh;
	max-height: 60vh;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	border: solid 30px rgba(255,255,255,0.5);
	background-color: rgba(0,192,255,0.3);
	border-radius: 30px;
	
}
.game>div{
	flex: 1;
	display: flex;
	justify-content: space-between;
}
.game span{
	flex: 1;
	height: 100%;
	/*margin: 2px;*/
	line-height: 100px;
	text-align: center;
	/*display: inline-block;*/
/*	width: 95px;
	height: 95px;*/
	border: 3px solid white;
	font-size: 100px;
  position: relative;
  color: white;
  border-radius: 10px;
}
.game span:hover{
	cursor: pointer;
}


.game .backslash::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  border-bottom: 3px solid deeppink;
  transform-origin: bottom center;
  transform: rotateZ(45deg) scale(3);
}

.game .slash::before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  border-bottom: 3px solid deeppink;
  transform-origin: bottom center;
  transform:rotateZ(-45deg) scale(3);
}

.game .horizontalLine::before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:50px;
  box-sizing:border-box;
  border-radius: 3px;
  border-bottom: 3px solid deeppink;
  transform-origin:bottom center;
  transform:rotateZ(0deg) scale(3);
}

.game .verticalLine::before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:50px;
  box-sizing:border-box;
  border-radius: 3px;
  border-bottom:3px solid deeppink;
  transform-origin:bottom center;
  transform:rotateZ(90deg) scale(3);
}

.buttonBox{
	position: relative;
	width: 60px;
	height: 30px;
	margin: 10px;
}

.buttonBox button, .showInfo button{
	margin: 10px 0;
	display: block;
	width: 60px;
	height: 30px;
	border-radius: 10px;
	background-color: #ccc;
	z-index: 2;
	position: absolute;
}
.showInfo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(200,200,200,0.8);
	z-index: 4;
	/*display: none;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	transition-duration: 5s;
	transform: translateY(0);
}
.showInfo.hide{
	transform: translateY(-100%);
}
.showInfo button{
	position: relative;
}
.showInfo>h3{
	width: 300px;
	font-size: 40px;
}
.showInfo>div{
	margin: 20px;
}

footer{
	text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;  
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: steelblue;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.swichBox{
	font-size: 24px;
	line-height: 30px;
}